html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 14px;
  line-height: 12px; }
  html hr,
  html .hr {
    border: 1px solid;
    margin: -1px 0; }
  html a,
  html b,
  html i,
  html strong,
  html em,
  html small,
  html code {
    line-height: 0; }
  html sub,
  html sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  html sup {
    top: -0.5em; }
  html sub {
    bottom: -0.25em; }

body {
  font-size: 1rem;
  line-height: 0.85715rem;
  font-family: monospace;
  color: #232323;
  background-color: #fff;
  overflow-x: hidden; }
  body * {
    box-sizing: border-box; }

main {
  position: relative;
  max-width: 100%; }

.grid {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -1; }

.grid__line {
  position: absolute;
  width: 1px;
  height: 100vh;
  background-color: #ededed; }
  .grid__line:nth-child(1) {
    top: 0;
    left: 10%; }
  .grid__line:nth-child(2) {
    top: 0;
    left: 40%; }
  .grid__line:nth-child(3) {
    top: 0;
    left: 50%; }
  .grid__line:nth-child(4) {
    top: 0;
    left: 60%; }
  .grid__line:nth-child(5) {
    top: 0;
    right: 10%; }

.opening-hero {
  display: grid;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  height: 100vh; }

.opening-hero__triangle {
  position: relative; }
  .opening-hero__triangle svg {
    fill: #FF8A89;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    max-height: 100%; }
  @media (min-width: 1024px) {
    .opening-hero__triangle {
      grid-column: 6 / 3;
      grid-row: 2 / 6; } }

.opening-hero__intro {
  grid-column: 1 / 11;
  grid-row: 8 / 10;
  padding: 20px; }
  @media (min-width: 1024px) {
    .opening-hero__intro {
      padding: 40px;
      grid-column: 1 / 7;
      grid-row: 7 / 10;
      padding: 20px; } }
  .opening-hero__intro h1 {
    font-size: 2.28572rem;
    line-height: 2.57143rem;
    margin-top: 0.85715rem;
    margin-bottom: 1.71429rem; }
    @media (min-width: 1024px) {
      .opening-hero__intro h1 {
        font-size: 3.35715rem;
        line-height: 3.42858rem;
        margin-top: 0rem;
        margin-bottom: 0.85715rem; } }
  .opening-hero__intro .opening-hero__lead {
    font-size: 1.5rem;
    line-height: 1.71429rem;
    margin-top: 0.85715rem;
    margin-bottom: 0.85715rem; }

.projects {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  align-items: center;
  max-width: 900px;
  margin: 0 auto; }
  .projects .window:nth-child(1) {
    grid-column: 2 / col8-end;
    margin-bottom: 100px; }
    @media (min-width: 900px) {
      .projects .window:nth-child(1) {
        grid-column: 1 / 7; } }
  .projects .window:nth-child(2) {
    grid-column: 3 / col7-end; }
    @media (min-width: 900px) {
      .projects .window:nth-child(2) {
        grid-column: 5 / col9-end;
        margin-bottom: 80px; } }
  .projects .window:nth-child(3) {
    grid-column: 3 / col7-end; }
    @media (min-width: 900px) {
      .projects .window:nth-child(3) {
        grid-column: 2 / 8;
        margin-bottom: 80px; } }

.window {
  width: 98%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #232323;
  box-shadow: 5px 5px 0px #232323;
  background-color: white; }

.window__title-bar {
  background-color: #FFE98D;
  color: #232323;
  padding: 10px; }

.window__content {
  padding: 10px;
  font-size: 1rem;
  line-height: 1.71429rem; }

.window__title {
  font-size: 1.5rem;
  line-height: 1.71429rem;
  margin-top: 0rem;
  margin-bottom: 0rem; }

