@import settings
@import reset

//@mixin sgl-heading($font-size-step, $line-height-step, $margin-top-step, $margin-bottom-step, $unit: $sgl-base-unit, $base-value: $sgl-base-font-size)

html
  +sgl-html

body
  +sgl-body
  font-family: monospace
  color: $black
  background-color: #fff
  overflow-x: hidden
  +breakpoint( 1024px )
  *
    box-sizing: border-box

main
  position: relative
  max-width: 100%

.grid
  position: fixed
  width: 100%
  height: 100vh
  left: 0
  top: 0
  z-index: -1

.grid__line
  position: absolute
  width: 1px
  height: 100vh
  background-color: lighten(#ccc, 13%)
  &:nth-child( 1 )
    top: 0
    left: 10%
  &:nth-child( 2 )
    top: 0
    left: 40%
  &:nth-child( 3 )
    top: 0
    left: 50%
  &:nth-child( 4 )
    top: 0
    left: 60%
  &:nth-child( 5 )
    top: 0
    right: 10%


.opening-hero
  display: grid
  width: 100%
  max-width: 960px
  margin: 0 auto
  grid-template-columns: repeat( 11, 1fr )
  grid-template-rows: repeat( 11, 1fr )
  height: 100vh

.opening-hero__triangle
  position: relative
  svg
    fill: $red
    position: absolute
    right: 0
    top: 0
    z-index: -1
    max-height: 100%
  +breakpoint( 1024px )
    grid-column: 6 / 3
    grid-row: 2 / 6

.opening-hero__intro
  grid-column: 1 / 11
  grid-row: 8 / 10
  padding: 20px
  +breakpoint( 1024px )
    padding: 40px
    grid-column: 1 / 7
    grid-row: 7 / 10
    padding: 20px
  h1
    +sgl-heading( 2, 0, 1, 2 )
    +breakpoint( 1024px )
      +sgl-heading( 3, 0, 0, 1 )
  .opening-hero__lead
    +sgl-heading( 1, 2, 1, 1 )

.projects
  display: grid
  grid-template-columns: repeat( 9, 1fr )
  align-items: center
  max-width: 900px
  margin: 0 auto
  .window:nth-child( 1 )
    grid-column: 2 / col8-end
    margin-bottom: 100px
    +breakpoint( 900px )
      grid-column: 1 / 7
  .window:nth-child( 2 )
    grid-column: 3 / col7-end
    +breakpoint( 900px )
      grid-column: 5 / col9-end
      margin-bottom: 80px
  .window:nth-child( 3 )
    grid-column: 3 / col7-end
    +breakpoint( 900px )
      grid-column: 2 / 8
      margin-bottom: 80px

.window
  width: 98%
  margin-top: 2%
  margin-left: auto
  margin-right: auto
  border: 2px solid $black
  box-shadow: 5px 5px 0px $black
  background-color: $white

.window__title-bar
  background-color: $yellow
  color: $black
  padding: 10px

.window__content
  padding: 10px
  +sgl-body( 2 )

.window__title
  +sgl-heading( 1, 2  , 0, 0 )


